.DS_Store

DropletDEMO/DropletDEMO.xcodeproj/project.xcworkspace/xcuserdata/owen.thompson21.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

Droplet/Droplet.xcworkspace/xcuserdata/owen.thompson21.xcuserdatad
