<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398981176954-maqhoqpcduq9j3uq1mb28diki4d5c2rh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398981176954-maqhoqpcduq9j3uq1mb28diki4d5c2rh</string>
	<key>API_KEY</key>
	<string>AIzaSyAkNygGIzji_fq3zc_h-R-PFD3zrxdtRbE</string>
	<key>GCM_SENDER_ID</key>
	<string>398981176954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.snowshoes.Droplet</string>
	<key>PROJECT_ID</key>
	<string>droplet-355d1</string>
	<key>STORAGE_BUCKET</key>
	<string>droplet-355d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398981176954:ios:2a7d13eeabe07fb568a5c3</string>
	<key>DATABASE_URL</key>
	<string>https://droplet-355d1.firebaseio.com</string>
</dict>
</plist>